<p>안녕하세요. ifnill입니다. </p>
<p>회원님은 <%= @email %> 주소로 가입을 요청하셨습니다.</p>
<p>아래 링크를 클릭하시면, 이메일 인증을 받으실 수 있습니다.</p>
<p><%= link_to '계정 인증하기', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>항상 꿈에만 그쳤던 버킷리스트를 ifnill에서 실현해 보세요.</p>
<p>여러분의 꿈을 응원합니다.</p>
<h4><a href="http://ifnill.com">ifnill</h4>